body, html {
    height: 100%;
}

#logo-link {

}

#logo-link img {
    margin-right: 8px;
    width: 40px;
}

#footer-container {
    /*height: 40px;*/
    /*margin-top: -40px;*/
}

.card:hover {
    border: 1px solid red;
}
